<app-header></app-header>

<div class="dialog-container">
  <h2>Reset password</h2>
  <p>Create a new password for your <span>Videoflix</span> account.</p>

  @if(!resetWorked) { @if(loadingReset === true) {
  <app-spinner></app-spinner>
  }
  <form
    #resetForm="ngForm"
    (ngSubmit)="resetPassword(resetForm)"
    [class.vis-hidden]="loadingReset === true"
  >
    <label for="new-password" class="pos-rel"
      ><input
        #password1Input="ngModel"
        [(ngModel)]="password1"
        type="password"
        id="new-password"
        name="password1"
        placeholder="Enter a password"
        required=""
      />
      @if(!password1Input.valid && (password1Input.touched ||
      resetForm.submitted)) {
      <span class="invalid-text">This field is required</span>
      }
    </label>

    <label for="confirm-password" class="pos-rel"
      ><input
        #password2Input="ngModel"
        [(ngModel)]="password2"
        type="password"
        id="confirm-password"
        name="password2"
        placeholder="Confirm Password"
        required=""
      />
      @if(password1Input.value !== password2Input.value && resetForm.submitted)
      {
      <span class="invalid-text">Password does not match</span>
      }</label
    >

    <input
      type="submit"
      value="Reset my password"
      [class.btn-disabled]="!resetForm.valid"
    />
  </form>
  } @else if(resetWorked) {
  <p>Your password has been changed successfully.</p>
  }
</div>

<app-footer></app-footer>
