@import './../../../styles.scss';

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 108px;
    padding: 10px 96px;
    width: 100vw;

    button {
        @include btn();
        @include font18(700);
    }

    .btn-logout {
        padding-left: 52px;
        background-image: url('./../../../assets/img/icon/logout.svg');
        background-repeat: no-repeat;
        background-position: 20px 50%;
    }
    
    .img-con {
        height: 51px;
        width: 51px;
        display: flex;
        align-items: center;
        justify-content: center;

        .back-icon {
            &:hover {
                height: 51px;
                width: 51px;
            }
        }
        .close-icon {
    
            &:hover {
                    height: 35px;
                    width: 35px;
                }
        }
    }

    @media (max-width: 962px) {
        padding: 10px 56px;
    }

    @media (max-width: 640px) {
        height: 80px;
        padding: 10px 16px 10px 16px;
    }
}


.title {
    @include font20(500);
    color: white;
    padding: 0px 8px;
}