<header>
  <!-- left -->
  @if(currentRoute === '/main-page' || isMobile) {
  <img src="assets/img/Symbol.svg" alt="Logo" />
  } @else if(currentRoute === '/start-page' || currentRoute ===
  '/privacy-police' || currentRoute === '/imprint' || isResetPasswordRoute()) {
  <img src="assets/img/Logo.svg" alt="Logo" />
  } @else if(currentRoute === '/video-player') {
  <div class="img-con">
    <img
      src="assets/img/icon/arrow_back.svg"
      alt="arrow icon"
      [routerLink]="['/main-page/']"
    />
  </div>
  }

  <!-- right -->
  @if(currentRoute === '/start-page' || isResetPasswordRoute()) {
  <button (click)="openDialog()">Log in</button>
  } @else if(currentRoute === '/main-page') {
  <button class="btn-logout" (click)="logout()">Log out</button>
  } @else if(currentRoute === '/privacy-police' || currentRoute === '/imprint')
  {
  <div class="img-con">
    <img
      src="assets/img/icon/arrow_back.svg"
      alt="arrow icon"
      [routerLink]="['/start-page/']"
    />
  </div>
  } @else if(currentRoute === '/video-player') {
  <img src="assets/img/Symbol.svg" alt="Logo" />
  }
</header>
