@import './../../../styles.scss';

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 108px;
    padding: 10px 96px;
    width: 100vw;

    button {
        @include btn();
        @include font18(700);
    }

    .btn-logout {
        padding-left: 52px;
        background-image: url('./../../../assets/img/icon/logout.svg');
        background-repeat: no-repeat;
        background-position: 20px 50%;
    }
    
    .img-con {
        height: 51px;
        width: 51px;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            &:hover {
                height: 51px;
                width: 51px;
            }
        }
    }

}