@import './../../../styles.scss';

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 108px;
    padding: 10px 96px;
    width: 100vw;

    button {
        @include btn();
        @include font18(700);
    }

}