<app-header></app-header>
@if(!start.dialogOpen) {
<div class="start-info">
  <div class="start-tx">
    <h1>Movies, TV shows and more</h1>
    <h3>Watch whenever you want wherever you want</h3>
    <p>Enter your email to create or restart your subscription.</p>
  </div>

  <form
    #emailForm="ngForm"
    (ngSubmit)="openSignUp(emailForm)"
    class="start-act"
  >
    <input
      #emailInput="ngModel"
      [(ngModel)]="email"
      type="email"
      name="email"
      id="email-start"
      placeholder="Email Address"
      required
    />
    <input type="submit" value="Sign Up" />
    @if(!emailInput.valid && (emailInput.touched || emailForm.submitted)) {
    <span class="invalid-text">Your email is required</span>
    }
  </form>
</div>
}

<app-footer></app-footer>
