<app-header></app-header>

@if(!start.dialogOpen) {
<div class="start-info">
  <div class="start-tx">
    <h1>Movies, TV shows and more</h1>
    <h3>Watch whenever you want wherever you want</h3>
    <p>Enter your email to create or restart your subscription.</p>
  </div>
  <div class="start-act">
    <input type="email" name="" id="" placeholder="Email Address" />
    <button (click)="openDialog()">Sign Up</button>
    <!-- <button (click)="openDialogReset()">Reset password</button> -->
  </div>
</div>

}

<app-footer></app-footer>
