@import './../../../styles.scss';

.dialog-container {
    @include dialogCon();

    h2 {
        @include font48(700);
        color: #2E3EDF;
        margin: 0;
        margin-bottom: 16px;
    }

    form {

        input[type="email"],
        input[type="password"] {
            @include inputField();
        }

        input[type="submit"] {
            @include btn();
            @include font18(700);
        }
    }
}