@import './../../../styles.scss';


.dialog-container {
    @include dialogCon();

    h2 {
        @include font48(700);
        color: #2E3EDF;
        margin: 0;
        margin-bottom: 16px;
        text-align: center
    }

    p {
        @include font18(400);
        text-align: center;
        margin: 0
        }

    form {

        input[type="email"] {
            @include inputField();
        }
        
        input[type="submit"] {
            @include btn();
            @include font18(700);
        }
    }
}