<div class="dialog-container">
  <h2>Forgot your password?</h2>
  @if(!emailSubmitted) {
  <p>We will send you an email with instructions to reset your password.</p>
  } @else if(emailSubmitted) { Check your email inbox and click on the link we
  sent you. } @if(!emailSubmitted) {
  <form
    #forgotPasswordForm="ngForm"
    (ngSubmit)="sendEmailForPasswordReset(forgotPasswordForm)"
  >
    <label for="email-forgot" class="pos-rel"
      ><input
        #emailInput="ngModel"
        [(ngModel)]="email"
        type="email"
        id="email-forgot"
        name="email"
        placeholder="Email Address"
        required
      />
      @if(!emailInput.valid && (emailInput.touched ||
      forgotPasswordForm.submitted)) {
      <span class="invalid-text">Your email is required</span>
      }
    </label>

    <input
      type="submit"
      value="Send Email"
      [class.btn-disabled]="!forgotPasswordForm.valid"
    />
  </form>
  }
</div>
