<app-header #headerLogo></app-header>

@if(animationLoaded === false) {
<div class="loading-img"></div>
} @else { @if(errorData === true) {
<div class="error-msg">
  <h2>Fehler beim Laden!</h2>
  <h3>Sie werden zur Startseite weiter geleitet.</h3>
</div>
} @else {
<main [ngClass]="{ loaded: animationLoaded }">
  @if(isDesktopScreen) {
  <img class="preview-img" [src]="data.selVideo.thumbnail_bg" alt="" />
  <div class="preview-bg"></div>
  <div class="preview-container">
    <h1>{{ data.selVideo.title }}</h1>
    <p>
      {{ data.selVideo.description }}
    </p>
    <button class="btn-play" [routerLink]="['/video-player/']">Play</button>
  </div>
  }

  <!-- Selection of videos -->
  <div class="selection-container">
    <section>
      <h3>New on Videoflix</h3>
      <div class="section-div">
        <div class="imgages-con">
          @for(video of this.data.videos; track video.id; let i = $index) {
          @if(video.is_new) {
          <!-- <div class="img-con"> -->
          <img
            [src]="video.thumbnail"
            alt=""
            (click)="selVideoElement(video)"
          />
          <!-- </div> -->
          } }
        </div>
      </div>
    </section>
    @if(documentaryVideos) {
    <section>
      <h3>Documentary</h3>
      <div class="section-div">
        <div class="imgages-con">
          @for(video of documentaryVideos; track video.id) {
          <img
            [src]="video.thumbnail"
            alt=""
            (click)="selVideoElement(video)"
          />
          }
        </div>
      </div>
    </section>
    } @if(dramaVideos) {
    <section>
      <h3>Drama</h3>
      <div class="section-div">
        <div class="imgages-con">
          @for(video of dramaVideos; track video.id) {
          <img
            [src]="video.thumbnail"
            alt=""
            (click)="selVideoElement(video)"
          />
          }
        </div>
      </div>
    </section>

    } @if(romanceVideos) {
    <section>
      <h3>Romance</h3>
      <div class="section-div">
        <div class="imgages-con">
          @for(video of romanceVideos; track video.id) {
          <img
            [src]="video.thumbnail"
            alt=""
            (click)="selVideoElement(video)"
          />
          }
        </div>
      </div>
    </section>
    }
  </div>
</main>
} }
