@import './../../styles.scss';


main {
    position: relative;

    .preview-img {
        position: fixed;
        top: 0;
        left: 0;
        object-fit: cover;
        height: 70vh;
        width: 100vw;

        @media (max-width: 592px) {
            height: 90vh;
        }
    }
    

    .preview-bg {
        background: linear-gradient(to bottom, rgba(20, 20, 20, 0.6), rgba(20, 20, 20, 0.1), rgba(0, 0, 0, 1));
        position: fixed;
        top: 0;
        left: 0;
        height: 70vh;
        width: 100%;

        @media (max-width: 592px) {
            height: 90vh;
        }
    }

    .preview-container {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 32px;
        position: relative;
        height: 66vh;
        width: 100%;
        padding: 108px 96px 0px 96px;
        
        h1 {
            margin: 0;
            @include font88(700);

            @media (max-width: 1280px) {
                @include font64(700);
            }
        }

        p {
            margin: 0;
            width: 40vw;
            min-width: 320px;
        }

        button {
            @include btn();
            @include font18(700);
        }

        .btn-play {
            padding-left: 52px;
            background-image: url('./../../assets/img/icon/play_arrow.svg');
            background-repeat: no-repeat;
            background-position: 20px 50%;
        }
    }

    .selection-container {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 48px;
        margin-top: -40px;
        padding: 0px 96px 96px 96px;
        position: relative;

        section {
            display: flex;
            flex-direction: column;
            align-items: start;
            gap: 16px;

            h3 {
                margin: 0px;
            }

            .section-div {
                display: flex;
                align-items: center;
                // gap: 16px;
                height: 160px;

                overflow-x: scroll;
                scroll-snap-type: x mandatory;
                // width: calc(100vw - 112px);
                width: calc(100vw - 96px);

                scrollbar-width: none !important; /* Firefox */                
                -ms-overflow-style: none !important; /* Internet Explorer 10+ */          
                &::-webkit-scrollbar { /* Webkit */
                    display: none !important;
                }

                .imgages-con {
                    display: flex;
                    gap: 16px;
                }

                // .img-con {
                //     display: flex;
                //     align-items: center;
                //     justify-content: center;
                //     // height: 140px;
                //     // width: 234px;
                //     padding: 8px;
                    
                    img {
                        // height: 120px;
                        width: 214px;
                        object-fit: cover;
                        scroll-snap-align: start;
                        transition: transform 0.3s ease;

                        &:hover {
                            transform: scale(1.05);
                        }
                    }
                // }
                @media (max-width: 592px) {
                    width: calc(100vw - 16px);
                }
            }
        }

        @media (max-width: 592px) {
            gap: 32px;
            padding: 108px 0px 96px 16px;
            margin-top: 0;
            position: static;
        }

    }
}