<app-header></app-header>

<main>
  <img class="preview-img" src="assets/img/wale.jpeg" alt="" />
  <div class="preview-bg"></div>
  <div class="preview-container">
    <h1>Breakout</h1>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi quaerat
      ipsa et quisquam culpa, fugit dignissimos quis voluptate officiis dolor
      enim repudiandae molestiae, autem impedit molestias iste repellat! Eius,
      esse!
    </p>
    <button class="btn-play">Play</button>
  </div>

  <!-- Selection of videos -->
  <div class="selection-container">
    <section>
      <h3>New on Videoflix</h3>
      <div>
        @for(video of this.data.videos; track video.id; let i = $index) {
        <img [src]="video.thumbnail" alt="" (click)="startVideo(video.id)" />
        <video
          [id]="'videoPlayer_' + video.id"
          [src]="video.video_file"
          controls
          hidden
        >
          Your browser does not support the video tag.
        </video>
        }
      </div>
    </section>

    <section>
      <h3>Documentary</h3>
      <div>
        <img src="" alt="" /><img src="" alt="" /><img src="" alt="" /><img
          src=""
          alt=""
        /><img src="" alt="" /><img src="" alt="" />
      </div>
    </section>

    <section>
      <h3>Drama</h3>
      <div>
        <img src="" alt="" /><img src="" alt="" /><img src="" alt="" /><img
          src=""
          alt=""
        /><img src="" alt="" /><img src="" alt="" />
      </div>
    </section>

    <section>
      <h3>Romance</h3>
      <div>
        <img src="" alt="" /><img src="" alt="" /><img src="" alt="" /><img
          src=""
          alt=""
        /><img src="" alt="" /><img src="" alt="" />
      </div>
    </section>
  </div>
</main>
