<div class="dialog-container">
  <h2>Log in</h2>
  <form #loginForm="ngForm" (ngSubmit)="login(loginForm)" class="pos-rel">
    @if(loginError) {
    <span class="invalid-text login-error">Email or password is wrong.</span>
    }
    <div class="input-con dis-flx-col">
      <label for="email-input" class="pos-rel">
        <input
          #emailInput="ngModel"
          [(ngModel)]="email"
          type="email"
          name="email"
          id="email-input"
          placeholder="Email Address"
          pattern="^[a-zA-Z0-9_\-\.]+@[a-zA-Z0-9_\-\.]+\.[a-zA-Z]{2,}$"
          required
        />@if(!emailInput.valid && (emailInput.touched || loginForm.submitted))
        {
        <span class="invalid-text">Your email is required</span>
        }
      </label>

      <label for="password-input" class="pos-rel">
        <input
          #passwordInput="ngModel"
          [(ngModel)]="password"
          type="password"
          name="password"
          id="password-input"
          placeholder="Password"
          minlength="8"
          required
        />@if(!passwordInput.valid && (passwordInput.touched ||
        loginForm.submitted)) {
        <span class="invalid-text">This field is required</span>
        }
      </label>

      <label for="remember-checkbox" class="remember-label"
        ><input
          type="checkbox"
          name="remember"
          [(ngModel)]="remember"
          id="remember-checkbox"
        />
        Remember me</label
      >
    </div>
    <input
      type="submit"
      value="Log in"
      [class.btn-disabled]="!loginForm.valid"
    />
  </form>

  <button (click)="openDialog('forgotPassword')">Forgot password?</button>

  <div class="signup-con">
    <span>New to Videoflix?</span>
    <button (click)="openDialog('signUp')">Sign Up now</button>
  </div>
</div>
