/* You can add global styles to this file, and also import other style files */

body {
    margin: 0;
}

* {
    box-sizing: border-box;
    font-family: 'DM Sans';
}


@mixin font18($fontWeight) {
    font-size: 18px;
    line-height: 23.44px;
    font-weight: $fontWeight;
}

@mixin font24($fontWeight) {
    font-size: 24px;
    line-height: 31.25px;
    font-weight: $fontWeight;
}

@mixin font48($fontWeight) {
    font-size: 48px;
    line-height: 62.5px;
    font-weight: $fontWeight;
}



@mixin btn() {
    background-color: #2E3EDF;
    border: 1px solid #2E3EDF;
    border-radius: 40px;
    color: white;
    cursor: pointer;
    height: 49.44px;
    padding: 12px 24px;

    &:hover {
        background-color: #4a56de;
        border: 1px solid #4a56de;
    }
}

@mixin dialogCon() {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 43px 56px;
    gap: 16px;
    width: 520px;

    form {
         display: flex;
         flex-direction: column;
         align-items: center;
         gap: 32px;
    }
}


@mixin inputField() {
    @include font18(400);
    border: 1px solid #2E3EDF;
    border-radius: 12px;
    color: #2E3EDF;
    padding: 12px 24px;
    width: 408px;

    &::placeholder {
        @include font18(400);
        color: #2E3EDF;
    }
      
    &:focus {
        outline: none;
    }
}





// @include font18(700);



app-start-page {
    background-image: linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 1)),
        url("./assets/img/start_page.jpeg");
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 100vh;
    width: 100vw;
}


.dialog-bor-rad {
    .mdc-dialog__surface {
        border-radius: 48px !important;
        // box-shadow: none !important;
        // overflow: visible;
        
    }
}


.dis-flx-col {
    display: flex;
    flex-direction: column;
}


// font

/* dm-sans-100 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 100;
    src: url('assets/fonts/dm-sans-v15-latin-100.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* dm-sans-200 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 200;
    src: url('assets/fonts/dm-sans-v15-latin-200.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* dm-sans-300 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 300;
    src: url('assets/fonts/dm-sans-v15-latin-300.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* dm-sans-regular - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    src: url('assets/fonts/dm-sans-v15-latin-regular.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* dm-sans-500 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 500;
    src: url('assets/fonts/dm-sans-v15-latin-500.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* dm-sans-600 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 600;
    src: url('assets/fonts/dm-sans-v15-latin-600.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* dm-sans-700 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 700;
    src: url('assets/fonts/dm-sans-v15-latin-700.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* dm-sans-800 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 800;
    src: url('assets/fonts/dm-sans-v15-latin-800.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* dm-sans-900 - latin */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 900;
    src: url('assets/fonts/dm-sans-v15-latin-900.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
