@import './../../styles.scss';
@import './../main-page/main-page.component.scss';


.flx {
    display: flex;
    align-items: start;
    justify-content: center;
}

video {

    position: relative;
    z-index: 0;
    // max-height: 80vh;
    width: 100vw;
    // max-width: max-content;
}